@page
@model HousingBoardAdministration.HousingAdministrationWeb.Pages.Booking.CreateModel
@{
}
<div class="row">
    <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="NewBooking.BookingOwnerId"></label>
                <input asp-for="NewBooking.BookingOwnerId" class="form-control" />
                <span asp-validation-for="NewBooking.BookingOwnerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBooking.StartDate"></label>
                <input asp-for="NewBooking.StartDate" class="form-control" />
                <span asp-validation-for="NewBooking.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBooking.EndDate"></label>
                <input asp-for="NewBooking.EndDate" class="form-control" />
                <span asp-validation-for="NewBooking.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewBooking.ResourceIdsList"></label>
                <input asp-for="NewBooking.ResourceIdsList" class="form-control" />
                <span asp-validation-for="NewBooking.ResourceIdsList" class="text-danger"></span>
            </div>
            <button type="submit">Tilføj Booking</button>
        </form>
    </div>
</div>